:root {
    --primary-color: #606c38;
    --secondary-color: #283618;
    --accent-color: #dda15e; 
    --text-color: #fefae0;
    --background-color: #bc6c25;
    --white: white;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Helvetica', sans-serif;
    padding: 0;
    margin: 0;
    line-height: 1.6;
}

/* Main Layout Styles */
header {
    background-color: var(--secondary-color);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    height: 50px;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    gap: 20px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: var(--white);
    font-size: 1.1em;
}

/* Hamburger Menu for Mobile */
.hamburger {
    display: none;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
}

.hamburger span {
    background-color: var(--white);
    height: 3px;
    width: 25px;
}