@media screen and (min-width=700px){
    #navbutton{
        display: none;
    }
    #navmenu{
        display: flex;
        flex-direction: row;
    }
    #navmenu.showing{
        display: flex;
    }
    #discoversidebar{
        border-right: 5px solid black;
        padding: 1rem;
    }
    #discovermain{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}